.patchnotes {
  display: flex;
  height: 100vh;
  margin-top: 415px;
  margin-bottom: 50px;
}

.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.patches {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}

.right-section {
  flex: 7;
  padding: 20px;
  overflow-y: scroll;
  height: 100vh;
}

.filter-category-buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 10px;
}

.filter-category-buttons::-webkit-scrollbar {
  height: 8px;
}

.filter-category-buttons::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.filter-category-buttons::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.comment-header {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-message {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.comment-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vote {
  display: flex;
  align-items: center;
}

.vote p {
  margin-left: 5px;
}

.reply-button {
  cursor: pointer;
  padding: 2px;
  background: none;
  transition: background-color 0.3s;
}

.reply-button:hover {
  background-color: #f0f0f0;
}

.reply .delete-button {
  cursor: pointer;
  background: none;
  border: none;
}

.comment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.pencil-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.comment-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.comment-button {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  max-width: 500px;
  width: 100%;
}

.highlight {
  background: #b5eef5;
  cursor: pointer;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.thumbs-up-animate {
  animation: shake 0.5s ease-in-out, rainbow 1s linear infinite;
}

.replies {
  margin-left: 20px;
}

.reply {
  border-left: 2px solid #ccc;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.reply-header {
  display: flex;
  align-items: center;
}

.reply-username {
  font-weight: bold;
  margin-left: 10px;
}

.reply-message {
  margin: 5px 0;
}

.reply-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-replies-button {
  cursor: pointer;
  background: none;
  border: none;
  color: blue;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}
